window.__APP_CONFIG__ = {
  VITE_MOBI_SLON_URL: "${VITE_MOBI_SLON_URL}",
  VITE_MOBI_SLON_CAMPAIGN_KEY: "${VITE_MOBI_SLON_CAMPAIGN_KEY}",
  VITE_FB_PIXEL_ID: "${VITE_FB_PIXEL_ID}",
  VITE_TRACKING_DEBUG: "${VITE_TRACKING_DEBUG}",
};
