services:
  backend:
    image: ${DOCKER_REPO:-artyom85/seranking-server}:backend-${IMAGE_TAG:-latest}
    pull_policy: always
    env_file:
      - .env
    restart: unless-stopped
    expose:
      - "8000"
    ports:
      - "127.0.0.1:${BACKEND_PORT:-8000}:8000"

  frontend:
    image: ${DOCKER_REPO:-artyom85/seranking-server}:frontend-${IMAGE_TAG:-latest}
    pull_policy: always
    env_file:
      - .env
    depends_on:
      - backend
    restart: unless-stopped
    ports:
      - "127.0.0.1:${FRONTEND_PORT:-8080}:80"
