window.__APP_CONFIG__ = {
  APP_SURFACE: "${APP_SURFACE}",
  API_BASE_URL: "${API_BASE_URL}",
  PAY_PUBLIC_BASE_URL: "${PAY_PUBLIC_BASE_URL}",
  VITE_MOBI_SLON_URL: "${VITE_MOBI_SLON_URL}",
  VITE_MOBI_SLON_CAMPAIGN_KEY_FACEBOOK: "${VITE_MOBI_SLON_CAMPAIGN_KEY_FACEBOOK}",
  VITE_MOBI_SLON_CAMPAIGN_KEY_GOOGLE: "${VITE_MOBI_SLON_CAMPAIGN_KEY_GOOGLE}",
  VITE_GOOGLE_ADS_ID: "${VITE_GOOGLE_ADS_ID}",
  VITE_FB_PIXEL_ID: "${VITE_FB_PIXEL_ID}",
  VITE_YANDEX_METRIKA_ID: "${VITE_YANDEX_METRIKA_ID}",
  VITE_TRACKING_DEBUG: "${VITE_TRACKING_DEBUG}"
};
